body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #cdfadb; /* Cor de fundo rosa suave */
    color: #4a235a; /* Roxo escuro */
    margin: 0;
    text-align: center;
}

.container {
    background-color: #fff;
    padding: 50px 70px;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

h1 {
    font-size: 2.5em;
    color: #3d1ee9; /* Rosa vibrante */
}

p {
    font-size: 1.2em;
    color: #150572;
}

button {
    background-color: #1ee91e;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 50px;
    cursor: pointer;
    margin: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#simBtn:hover {
    background-color: #3e1bd8;
    transform: scale(1.1); /* Efeito de crescimento */
}

#naoBtn {
    background-color: #f0f0f0;
    color: #1ee96c;
    border: 2px solid #1ee969;
}

#naoBtn:hover {
    transform: rotate(5deg);
}

.hidden {
    display: none;
}

#final h1 {
    animation: heartBeat 1s infinite;
}

@keyframes heartBeat {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}